* {
  margin: 0;
  padding: 0;
}

/* Media Queries */
@media screen and (max-width: 995px) {
  .navbar-title.navbar-brand {
    display: none;
  }
}

@media screen and (min-width: 995px) {
  .nav-link {
    margin: 25px;
    margin-top: 20px;
  }
}
/* ---- */

/* Colors */

/* ---- */

/* Fonts */
@font-face {
  font-family: Bluegrass;
  src: url("../public/fonts/Carnevalee\ Freakshow.ttf");
}

@font-face {
  font-family: Limo;
  src: url("../public/fonts/Champagne\ &\ Limousines.ttf");
}
/* ---- */

/* Navbar Styling */
.navbar-title.navbar-brand {
  font-family: Bluegrass;
  font-size: 50px;
  padding-left: 10px;
}

.navbar-collapse.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-family: Limo;
  font-size: 18px;
  font-weight: 300;
}

.nav-link:hover {
  margin-bottom: 15px;
  font-family: Limo;
  font-size: 22px;
}

/* ---- */

/* Hero Styling */

/* .image-header {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* ---- */

/* Footer Styling */
.footer-text {
  font-family: Limo;
  font-size: 18px;
  color: rgb(96, 96, 96);
}

.footer-content {
  /* background-color: rgb(211, 188, 12); */
}

/* ---- */
